.footer {
  background-color: #619f61;
  position: relative;
  width: 100%;
  height: auto;
  color: white;
  text-align: center;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  bottom: 0;
  left: 0;
}

.footer-text {
  color: #292811;
}

.titulos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*Contacto*/
.diveliminar{
  background-color: rgb(248, 205, 205);
  border-radius: 10rem;
  margin-left: auto;
  margin-right: auto;
}

.diveliminar:hover{
  cursor: pointer;
}

/*Navbar*/

.navbar2 {
  background-color: #619f61;
}

.logoimg {
  border-radius: 50%;
}

.dropdown-item:active {
  background-color: green;
}

.nav-link {
  font-size: 1.3rem;
}

.icono-x {
  font-size: 2rem;
}

.navbar-toggler {
  background-color: #68a468;
  border: 3px solid #292811;
}

.logotext {
  color: white;
  text-shadow: -.5px -.5px .5px #000, .5px .5px .5px #000, -.5px .5px .5px #000, .5px -.5px .5px #000;
}

.alinearlinks {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

/*Fraseinicio*/

/*Noticias*/

.edicion {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 1rem;
  border-top: 1px solid gray;
  font-size: 1.2rem;
}

.eliminar {
  margin-left: 2px;
  color: red;
}

.editar {
  margin-left: 2px;
  color: green;
}

/*Secciones*/

.seccion {
  font-family: Arial Black;
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-weight: bold;
  font-size: 45px;
  color: #5a9759;
  text-transform: uppercase;
  text-shadow: -.5px -.5px .5px darkgreen, .5px .5px .5px darkgreen, -.5px .5px .5px darkgreen, .5px -.5px .5px darkgreen;
}

/*Noticias*/

.btn-add {
  color: green;
  border: .2rem solid green;
  font-weight: 600;
  background-color: #bddabd;
  text-decoration: none;
}

.disabled {
  resize: none;
}

.tarjeta-noticias {
  margin-bottom: 2rem;
}

.calendario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tarea {
  width: 30%;
}

.flexd {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.imagen-galeria {
  margin: 1.5rem;
}

.galeria {
  align-items: center;
}

.card-contacto{
  border: 5px solid #5a9759;
  padding-top: 1rem;
}

.go-up{
  color: green;
  font-size: 2rem;
  border: .3rem solid green;
  background-color: rgb(176, 206, 176);
  padding: .4rem;
  margin: 0px;
  border-radius: 1rem;
}

@media (max-width:820px) {
  .centrar {
    align-items: center;
    text-align: center;
  }
  .tarea {
    width: 100%;
  }
}

.colores {
  background-color: #292811;
  background-color: #58521a;
  background-color: #a98c5f;
  background-color: #f5f4f2;
  background-color: #619f61;
  background-color: #b28c66;
  background-color: #68a468;
  background-color: #5a9759;
}